body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 1px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 2%;
}
.input {
	border: none;
	border-bottom: grey;
}
.postcard-footer {
	text-align: center;
	margin-top: 20px;
}
.postcard-footer button {
	padding: 10px 20px;
	background-color: #6c757d; /* Color gris */
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}
